body {
    background-color: #2c3338;
    color: darkgrey;
    font: 1.5 "Open Sans", sans-serif;
    margin: 0;
    min-height: 100%;
}

p {
    color: darkgrey;
    font: 1.5 "Open Sans", sans-serif;
}

